The datatable is an open-source library for tabular data manipulation. It is a younger sibling of R data.table, and attempts to mimic its API and some of the core algorithms. The development of datatable is sponsored by H2O.ai.

## Installation

In [ ]:
# Mac OSX
# !pip install datatable


# Linux
# Python 3.5
# !pip install https://s3.amazonaws.com/h2o-release/datatable/stable/datatable-0.8.0/datatable-0.8.0-cp35-cp35m-linux_x86_64.whl

# Python 3.6
# !pip install https://s3.amazonaws.com/h2o-release/datatable/stable/datatable-0.8.0/datatable-0.8.0-cp36-cp36m-linux_x86_64.whl

# Python 3.7
# !pip install https://s3.amazonaws.com/h2o-release/datatable/stable/datata


# Windows
# Currently, datatable does not work on Windows.

## Importing Necessary Libraries

In [23]:
import numpy as np
import pandas as pd
import datatable as dt

**Dataset**: https://www.kaggle.com/wendykan/lending-club-loan-data/downloads/loan.csv/1

The dataset being used has been taken from Kaggle and belongs to the Lending Club Loan Data Dataset. The dataset consists of complete loan data for all loans issued through the 2007â€“2015, including the current loan status (Current, Late, Fully Paid, etc.) and latest payment information. The file consists of 2.26 Million and 145 columns. The data size is ideal to demonstrate the capabilities of the datatable library.

## Reading Data with datatable

The fundamental unit of analysis in datatable is a Frame. It is the same notion as a pandas DataFrame or SQL table: data arranged in a two-dimensional array with rows and columns.

In [24]:
%%time
dt_df = dt.fread("data.csv")

CPU times: user 33.7 s, sys: 5.16 s, total: 38.9 s
Wall time: 23.6 s

The `fread()` function shown above is both powerful and extremely fast. It can automatically detect parse parameters for the majority of text files, load data from .zip archives or URLs, read Excel files, and much more.

The datatable parser

* Automatically detects separators, headers, column types, quoting rules, etc.
* Reads from file, URL, shell, raw text, archives, glob
* Provides multi-threaded file reading for maximum speed
* Includes a progress indicator when reading large files
* Reads both RFC4180-compliant and non-compliant files

## Reading Data with Pandas

Now, let us calculate the time taken by pandas to read in the same file.

In [9]:
%%time
pd_df= pd.read_csv("data.csv")

<string>:2: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 47.5 s, sys: 12.1 s, total: 59.6 s
Wall time: 1min 4s

### Converting Frame to pandas Dataframe.
We can also convert an existing Frame into a pandas DataFrame,

In [3]:
%%time
pandas_df = dt_df.to_pandas()

CPU times: user 17.1 s, sys: 4 s, total: 21.1 s
Wall time: 21.4 s

In [ ]:
type(dt_pd)

This shows that reading a file as datatable frame and then converting it into a pandas dataframe consumes less time.

## Basic Frame Properties

Let's look at some of the basic properties of frame:

In [4]:
print(dt_df.shape)       # (nrows, ncols)
print(dt_df.names[:5])   # top 5 column names
print(dt_df.stypes[:5])  # column types(top 5)

(2260668, 145)
('id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv')
(stype.bool8, stype.bool8, stype.int32, stype.int32, stype.float64)

In [5]:
dt_df.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,…,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
,▪,▪,▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪,▪▪▪▪,…,▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪
0,NA,NA,2500,2500,2500,36 months,13.56,84.92,C,C1,…,,,NA,NA,NA
1,NA,NA,30000,30000,30000,60 months,18.94,777.23,D,D2,…,,,NA,NA,NA
2,NA,NA,5000,5000,5000,36 months,17.97,180.69,D,D1,…,,,NA,NA,NA
3,NA,NA,4000,4000,4000,36 months,18.94,146.51,D,D2,…,,,NA,NA,NA
4,NA,NA,30000,30000,30000,60 months,16.14,731.78,C,C4,…,,,NA,NA,NA
5,NA,NA,5550,5550,5550,36 months,15.02,192.45,C,C3,…,,,NA,NA,NA
6,NA,NA,2000,2000,2000,36 months,17.97,72.28,D,D1,…,,,NA,NA,NA
7,NA,NA,6000,6000,6000,36 months,13.56,203.79,C,C1,…,,,NA,NA,NA
8,NA,NA,5000,5000,5000,36 months,17.97,180.69,D,D1,…,,,NA,NA,NA
9,NA,NA,6000,6000,6000,36 months,14.47,206.44,C,C2,…,,,NA,NA,NA

## Summary Stats
Calculating the summary stats in pandas is a memory consuming process but not anymore with datatable. We can compute the following per-column summary stats using datatable:

### mean of all the columns

#### Using datatable

In [6]:
%%time
dt_df.mean()

CPU times: user 5.11 s, sys: 51.8 ms, total: 5.16 s
Wall time: 1.43 s

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,…,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,…,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪
0,NA,NA,15046.9,15041.7,15023.4,NA,13.0929,445.808,NA,NA,…,NA,NA,5030.61,47.7756,13.1486

#### Using pandas

In [ ]:
%%time
#pd_df.mean()
#Throws memory error

### max of every column

In [10]:
dt_df.max()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,…,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
,▪,▪,▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪,▪▪▪▪,…,▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪
0,NA,NA,40000,40000,40000,NA,30.99,1719.83,NA,NA,…,NA,NA,33601,521.35,181

### Number of Unique values in every column

In [8]:

dt_df.nunique()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,…,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,…,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪
0,0,0,1572,1572,10058,2,673,93296,7,35,…,4,90,21519,2045,40

## Data Manipulation
Data Tables like dataframes are columnnar data structures.In datatable, the primary vehicle for all these operations is the square-bracket notation inspired by traditional matrix indexing but with more functionalities.

![](https://i.imgur.com/LMjIWLm.png)

The same DT[i, j] notation is used in mathematics when indexing matrices, in C/C++, in R, in pandas, in numpy, etc

## Selecting Subsets of Rows/Columns

In [11]:
dt_df[:,'funded_amnt'] # selecting the first column

,funded_amnt
,▪▪▪▪
0,2500
1,30000
2,5000
3,4000
4,30000
5,5550
6,2000
7,6000
8,5000
9,6000
⋮,⋮
"2,260,663",12000
"2,260,664",12000
"2,260,665",10000
"2,260,666",12000
"2,260,667",16550

In [12]:
dt_df[:5,:3] #first 5 rows and first 3 columns

,id,member_id,loan_amnt
,▪,▪,▪▪▪▪
0,NA,NA,2500
1,NA,NA,30000
2,NA,NA,5000
3,NA,NA,4000
4,NA,NA,30000

## Sorting the Frame
### with datatable

In [13]:
%%time
dt_df.sort('funded_amnt_inv')

CPU times: user 534 ms, sys: 67.9 ms, total: 602 ms
Wall time: 179 ms

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,…,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
,▪,▪,▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪,▪▪▪▪,…,▪▪▪▪,▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪▪▪▪▪,▪▪▪▪
0,NA,NA,1775,1775,0,36 months,12.72,59.57,C,C4,…,,,NA,NA,NA
1,NA,NA,7500,7500,0,36 months,10.01,242.04,B,B2,…,,,NA,NA,NA
2,NA,NA,4000,4000,0,36 months,7.68,124.76,A,A2,…,,,NA,NA,NA
3,NA,NA,3200,2100,0,36 months,7.68,65.5,A,A2,…,,,NA,NA,NA
4,NA,NA,7500,7500,0,36 months,11.59,247.65,C,C2,…,,,NA,NA,NA
5,NA,NA,7000,6100,0,36 months,11.28,200.52,C,C1,…,,,NA,NA,NA
6,NA,NA,7500,4750,0,36 months,11.28,156.14,C,C1,…,,,NA,NA,NA
7,NA,NA,5600,4300,0,36 months,8.32,135.39,A,A4,…,,,NA,NA,NA
8,NA,NA,7500,4800,0,36 months,11.59,158.5,C,C2,…,,,NA,NA,NA
9,NA,NA,7500,5550,0,36 months,8.32,174.74,A,A4,…,,,NA,NA,NA
⋮,⋮,⋮,⋮,⋮,⋮,⋮,⋮,⋮,⋮,⋮,⋱,⋮,⋮,⋮,⋮,⋮
"2,260,663",NA,NA,40000,40000,40000,36 months,9.44,1280.2,B,B1,…,,,NA,NA,NA
"2,260,664",NA,NA,40000,40000,40000,36 months,9.44,1280.2,B,B1,…,,,NA,NA,NA
"2,260,665",NA,NA,40000,40000,40000,60 months,20,1059.76,D,D4,…,,,NA,NA,NA
"2,260,666",NA,NA,40000,40000,40000,36 months,10.42,1298.59,B,B3,…,,,NA,NA,NA
"2,260,667",NA,NA,40000,40000,40000,36 months,10.91,1307.85,B,B4,…,,,NA,NA,NA

### with pandas

In [15]:
%%time
pd_df.sort_values(by = 'funded_amnt_inv')

CPU times: user 8.76 s, sys: 2.87 s, total: 11.6 s
Wall time: 12.4 s

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
2138210,NaN,NaN,5500,5500,0.0,36 months,9.76,176.86,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138169,NaN,NaN,7500,7500,0.0,36 months,11.97,249.00,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2141012,NaN,NaN,7225,5300,0.0,36 months,14.18,181.61,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2141011,NaN,NaN,7500,7500,0.0,36 months,11.03,245.65,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138262,NaN,NaN,7000,7000,0.0,36 months,8.00,219.36,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138261,NaN,NaN,3500,3500,0.0,36 months,8.32,110.20,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2141003,NaN,NaN,4000,4000,0.0,36 months,18.54,145.70,G,G4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140997,NaN,NaN,2400,2400,0.0,36 months,13.17,81.07,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140994,NaN,NaN,6000,6000,0.0,36 months,14.12,205.42,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138172,NaN,NaN,5000,5000,0.0,36 months,10.08,161.53,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140993,NaN,NaN,7500,7500,0.0,36 months,16.01,263.72,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140992,NaN,NaN,7000,7000,0.0,36 months,14.12,239.66,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138257,NaN,NaN,6000,4725,0.0,36 months,10.39,153.33,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140987,NaN,NaN,5000,5000,0.0,36 months,9.70,160.64,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140986,NaN,NaN,4500,4500,0.0,36 months,12.54,150.63,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2137960,NaN,NaN,7500,4750,0.0,36 months,11.28,156.14,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140984,NaN,NaN,11000,11000,0.0,36 months,11.91,364.89,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138133,NaN,NaN,1600,1600,0.0,36 months,11.66,52.89,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138254,NaN,NaN,3500,3500,0.0,36 months,7.68,109.17,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140978,NaN,NaN,15000,15000,0.0,36 months,11.91,497.58,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2140977,NaN,NaN,4000,4000,0.0,36 months,17.91,144.43,G,G2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138249,NaN,NaN,1500,1175,0.0,36 months,7.37,36.48,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138111,NaN,NaN,3000,3000,0.0,36 months,8.00,94.01,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2137974,NaN,NaN,5600,4300,0.0,36 months,8.32,135.39,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2137975,NaN,NaN,7500,4800,0.0,36 months,11.59,158.50,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2137977,NaN,NaN,7500,5550,0.0,36 months,8.32,174.74,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138106,NaN,NaN,7000,7000,0.0,36 months,8.00,219.36,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2137988,NaN,NaN,6000,5100,0.0,36 months,8.00,159.82,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138162,NaN,NaN,7500,7500,0.0,36 months,10.39,243.38,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2138163,NaN,NaN,5000,5000,0.0,36 months,12.29,166.77,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605588,NaN,NaN,40000,40000,40000.0,36 months,22.91,1546.52,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
370115,NaN,NaN,40000,40000,40000.0,36 months,5.31,1204.42,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
370116,NaN,NaN,40000,40000,40000.0,60 months,18.45,1025.56,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
53289,NaN,NaN,40000,40000,40000.0,36 months,11.80,1324.76,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
182253,NaN,NaN,40000,40000,40000.0,36 months,11.55,1320.00,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
489926,NaN,NaN,40000,40000,40000.0,36 months,9.44,1280.20,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
489922,NaN,NaN,40000,40000,40000.0,60 months,12.62,902.37,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
826245,NaN,NaN,40000,40000,40000.0,60 months,29.49,1281.64,F,F2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
248418,NaN,NaN,40000,40000,40000.0,60 months,11.55,880.71,B,B4,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
489966,NaN,NaN,40000,40000,40000.0,36 months,7.35,1241.50,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2151510,NaN,NaN,40000,40000,40000.0,60 months,7.35,798.67,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
321183,NaN,NaN,40000,40000,40000.0,60 months,9.58,841.64,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
112364,NaN,NaN,40000,40000,40000.0,36 months,7.84,1250.51,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
490085,NaN,NaN,40000,40000,40000.0,36 months,6.08,1218.33,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
321199,NaN,NaN,40000,40000,40000.0,36 months,6.19,1220.33,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
182190,NaN,NaN,40000,40000,40000.0,60 months,12.73,904.61,B,B5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
140808,NaN,NaN,40000,40000,40000.0,60 months,11.55,880.71,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
112373,NaN,NaN,40000,40000,40000.0,36 months,6.11,1218.88,A,A1,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
490051,NaN,NaN,40000,40000,40000.0,36 months,6.72,1229.97,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2151534,NaN,NaN,40000,40000,40000.0,60 months,15.05,952.65,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
490050,NaN,NaN,40000,40000,40000.0,36 months,6.72,1229.97,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1517303,NaN,NaN,40000,40000,40000.0,36 months,9.44,1280.20,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
490004,NaN,NaN,40000,40000,40000.0,60 months,12.62,902.37,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
638339,NaN,NaN,40000,40000,40000.0,60 months,10.75,864.72,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1517293,NaN,NaN,40000,40000,40000.0,60 months,10.42,858.18,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
489999,NaN,NaN,40000,40000,40000.0,60 months,14.08,932.39,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
826237,NaN,NaN,40000,40000,40000.0,60 months,11.44,878.50,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
489975,NaN,NaN,40000,40000,40000.0,60 months,9.93,848.51,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
638322,NaN,NaN,40000,40000,40000.0,60 months,7.89,808.96,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2145538,NaN,NaN,40000,40000,40000.0,36 months,9.93,1289.38,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Deleting Rows/Columns

Here is how we can delete the column named 'member_id':

In [ ]:
del dt_df[:, 'member_id']

## Groupby

Just like in pandas, datatable also has the groupby functionalities. Let's see how we can get the mean of `funded_amount` column grouped by the `grade` column.

In [16]:
%%time
for i in range(100):
    dt_df[:, dt.sum(dt.f.funded_amnt), dt.by(dt.f.grade)]

CPU times: user 6.41 s, sys: 1.34 s, total: 7.76 s
Wall time: 2.42 s

In [26]:
%%time
for i in range(100):
    pd_df.groupby("grade")["funded_amnt"].sum()

CPU times: user 12.9 s, sys: 859 ms, total: 13.7 s
Wall time: 13.9 s

What doesÂ **.f** standÂ for?

f stands for `frame proxy`, and provides a simple way to refer to the Frame that we are currently operating upon. In case of our example, dt.f simply stands for dt_df.

## Filtering Rows

The syntax for filtering rows is pretty similar to that of GroupBy. Let us filter those rows of `loan_amnt`for which the values of `loan_amnt` are greater than `funded_amnt`.

In [25]:
dt_df[dt.f.loan_amnt>dt.f.funded_amnt,"loan_amnt"]

,loan_amnt
,▪▪▪▪
0,18000
1,20000
2,20000
3,5000
4,2875
5,33425
6,32000
7,25000
8,27500
9,20000
⋮,⋮
2060,25000
2061,25000
2062,7200
2063,15600
2064,10500

## Saving theÂ Frame
It is also possible to write the Frame's content into a csv file so that it can be used in future.

In [21]:
dt_df.to_csv('output.csv')

For more data manipulation functions, refer to the documentation page.